/* app css stylesheet */

@media (max-width: 544px) {
    body {font-size: 0.9rem;}
    md-tooltip.tooltip {font-size: small !important; width: 50% !important;}
    h4 {font-size:1.2rem;}
    .formHolder{ margin-top: 10px; padding:1%}
    input::-webkit-input-placeholder{font-size: 0.9rem;}
    input::-moz-placeholder{font-size: 0.9rem;}
    .textHide {display:none;}
    .card-columns {column-count: 1 !important; }
    .secondTab {padding: 10px}
}

html {
    background-color: white;
}

.formHolder {
    border: 1px solid #C8C8C8;
    margin: 25px auto auto;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding-top: 2%;
    max-width: 90%;
    width: 1000px;
    padding-left: 5%;
    padding-right: 5%;
}

.labels {
    text-align: left;
}

.white_buttons {
    background-color: white;
}
.white_buttons:hover:enabled {
    background-color: #D3D3D3;
}

.errorBorder:focus, .errorBorder {
    border: 1px solid red;
    border: 1px solid red !important;
    border-radius: 5px;
    box-shadow: 0 0 3px red !important;
    -moz-box-shadow: 0 0 3px red !important;
    -webkit-box-shadow: 0 0 3px red !important;
}

body > div.container.formHolder > form > div:nth-child(2) > div > md-autocomplete > md-autocomplete-wrap {
    border: 1px solid #C8C8C8 !important;
    box-shadow: none !important;
    border-radius: 5px;
}

md-autocomplete md-progress-linear { display: none; }

.favoritesButton {
    border: 1px solid #C8C8C8;
}

md-tooltip.tooltip {
    font-size: medium;
}

.twitterButton {
    background-image: url("http://csci571.com/hw/hw8/Images/Twitter.png");
    background-size: cover;
    width: 42px;
    height:42px;
}
#firstSection, #secondSection {
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
}

#secondSection.ng-hide{
    transform: translateX(-100%);
}

#firstSection.ng-hide{
    transform: translateX(100%);
}

.no-animate {
    -webkit-transition: none !important;
    transition: none !important;
}

.nowrapTable th,.nowrapTable td {
    white-space: nowrap;
}

.headerNoWrap th {
    white-space: nowrap;
}
.md-tooltip {
    width: 20%;
    height: auto !important;
    line-height: 1.5 !important;
    white-space: normal !important;
}

.card-columns {
    column-count: 3;
}

.hiddenEvents.ng-enter {
    -webkit-transition: all ease-in 0.6s;
    -moz-transition:all ease-in 0.6s;
    -o-transition:all ease-in 0.6s;
    transition:all ease-in 0.6s;
    height: 0px;
    overflow: hidden;
}

.hiddenEvents.ng-leave {
    -webkit-transition: all ease-in 0.6s;
    -moz-transition:all ease-in 0.6s;
    -o-transition:all ease-in 0.6s;
    transition:all ease-in 0.6s;
    height:110px;
    overflow: hidden;
}

.hiddenEvents.ng-leave.ng-leave-active {
    height:0px;
}

.hiddenEvents.ng-enter.ng-enter-active {
    height: 110px;
}

