<!doctype html>
<html ng-app="ESApp">
<head>
    <meta charset="utf-8">
    <title>Entertainment Event Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Angular material cdn -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <!-- Moment JS -->
    <script src="https://unpkg.com/moment"></script>
</head>
<body ng-controller="entSearchAppController as esaCtrl">
<div class="container formHolder">
    <form class="form-horizontal" id="myForm" name="myForm" ng-submit="submit(user)" novalidate>
        <h4 class="page-header" style="text-align: center;"><b>Entertainment Event Ticket Search</b></h4>
        <div class="form-group row" style="padding-left: 2%;padding-right:2%; padding-top: 3%;">
            <label for="keyword" class="control-label col-sm-3 labels">Keyword <sup style="color: red">*</sup></label>
            <div class="col-sm-9" id="keyword">
                <!--input type="text" ng-class="{errorBorder: myForm.keyword_name.$touched && myForm.keyword_name.$invalid}" class="form-control" ng-model="keyword_name" name="keyword_name" id="keyword" placeholder="Enter Artist, Team or Event Name (eg. Lakers)" required-->
                <md-autocomplete
                        ng-class="{errorBorder: myForm.keyword_name.$touched && !myForm.keyword_name.$valid}"
                        ng-required="true"
                        ng-model="user.keyword_name"
                        name="keyword_name"
                        md-input-name="keyword_name"
                        md-selected-item="esaCtrl.selectedItem"
                        md-search-text-change="esaCtrl.searchTextChange(esaCtrl.searchText)"
                        md-search-text="esaCtrl.searchText"
                        md-selected-item-change="esaCtrl.selectedItemChange(item)"
                        md-items="item in esaCtrl.querySearch(esaCtrl.searchText)"
                        md-delay="1000"
                        md-item-text="item.name"
                        md-clear-button="false"
                        md-min-length="1"
                        placeholder="Enter Artist, Team or Event Name (eg. Lakers)" >
                    <md-item-template>
                        <span ng-cloak md-highlight-text="esaCtrl.searchText" md-highlight-flags="^i">{{item.name}}</span>
                    </md-item-template>

                </md-autocomplete>
                <span ng-cloak class="help-block" ng-if="myForm.keyword_name.$touched && !myForm.keyword_name.$valid" style="color: red">Please enter a keyword</span>

            </div>

        </div>
        <div class="form-group row" style="padding-left: 2%;padding-right:2%;">
            <label for="category" class="control-label col-sm-3 labels">Category</label>
            <div class="col-sm-3">
                <select class="form-control" name="category_name" id="category" ng-model="user.category_name">
                    <option value="default">All</option>
                    <option value="music">Music</option>
                    <option value="sports">Sports</option>
                    <option value="arts">Arts & Theatre</option>
                    <option value="film">Film</option>
                    <option value="miscellaneous">Miscellaneous</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="padding-left: 2%;padding-right:2%;">
            <label for="distance" class="control-label col-sm-3 labels">Distance</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="distance" placeholder="10" ng-model="user.distance_value">
            </div>
            <div class="col-sm-3">
                <select class="form-control" name="distance_unit" id="distance_unit" ng-model="user.distance_unit">
                    <option value="miles">Miles</option>
                    <option value="km">Kilometers</option>
                </select>
            </div>
        </div>
        <div class="form-group row" style="padding-left: 2%;padding-right:2%;">
            <label for="here" class="control-label col-sm-3 labels">From <sup style="color: red">*</sup></label>
            <div class="col-sm-9">
                <div  class="form-check">
                    <input class="form-check-input" type="radio" name="locRadio" id="here" value="here" checked ng-model="user.locRadio">
                    <label class="form-check-label" for="here">
                        Current location
                    </label>
                </div>
                <div  class="form-check">
                    <input class="form-check-input" type="radio" name="locRadio" id="others" value="others" ng-model="user.locRadio">
                    <label class="form-check-label" for="others">
                        Other. Please specify:
                    </label>
                    <input type="text" class="form-control" ng-model="user.location_name" name="location_name" id="location" ng-class="{errorBorder: myForm.location_name.$touched && myForm.location_name.$invalid && user.locRadio=='others'}" ng-required="user.locRadio=='others'" disabled>
                    <span ng-cloak class="help-block" ng-if="myForm.location_name.$touched && myForm.location_name.$invalid && user.locRadio=='others'" style="color: red">Please enter a location</span>
                </div>
            </div>
        </div>
        <div class="form-group row" style="padding-left: 2%;padding-right:2%; padding-bottom: 3%">
            <div class="col-sm-9">
                <button type="submit" ng-disabled=" disableOnLoc || (myForm.keyword_name.$pristine || !myForm.keyword_name.$dirty) ||  !myForm.keyword_name.$valid || (myForm.location_name.$invalid && user.locRadio=='others')" class="btn btn-primary justify-content-center align-content-between" style="margin-right: 10px"><i class="material-icons" style="vertical-align:middle;">search</i>Search</button>
                <button type="button" class="btn btn-light justify-content-center align-content-between white_buttons" style="border: 1px solid #C8C8C8" ng-click="resetForm()"><i class="material-icons" style="vertical-align:middle;">clear_all</i>Clear</button>
            </div>
        </div>
    </form>
</div>
<div class="container" style="margin-top: 25px;">
    <ul class="nav nav-pills mb-3" id="resultholder" role="tablist" style="display: flex; justify-content: center">
        <li class="nav-item">
            <a class="nav-link active" id="results_tab" data-toggle="pill" href="" ng-click="showEventListTable('results')" role="tab" aria-controls="" aria-selected="true">Results</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="favorites_tab" data-toggle="pill" href="" ng-click="showEventListTable('favs')" role="tab" aria-controls="" aria-selected="false">Favorites</a>
        </li>
    </ul>
</div>

<div id="resultsSection">
    <div class="container" ng-cloak style="margin-top: 7vh;" ng-if="enableProgress">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>
    </div>
    <div id="firstSection" class="container ng-hide no-animate" ng-show="(enableResultTable && enableDetailsButton) || enableFailedResults || enableNoResults">
        <div class="container" ng-cloak style="margin-top: 7vh;" ng-if="enableDetailsButton">
            <button type="button" class="btn btn-light white_buttons justify-content-center align-content-between" ng-click="showEventDetailsPage(tableMode)" style="float: right; border: 1px solid #C8C8C8" ng-disabled="disableDetails">Details<i class="material-icons" style="vertical-align:middle;">navigate_next</i></button>
        </div>

        <div class="container" ng-cloak ng-if="enableResultTable">
            <br><br><br>
            <div id="bootstrap-table" class="table-responsive">
                <table class="table table-hover nowrapTable" >
                    <thead><th>#</th><th>Date</th><th>Event</th><th>Category</th><th>Venue Info</th><th>Favorite</th></thead>
                    <tbody ng-repeat="events in eventsList">
                    <tr ng-class="getWarningClass(events)" ng-mouseover="removeWarning(events)" ng-mouseleave="addWarning()">
                        <td>{{eventsList.indexOf(events)+1}}</td>
                        <td>
                            <span ng-if="events.dates && events.dates.start && events.dates.start.localDate && events.dates.start.localDate.length>0 && events.dates.start.localDate != 'Undefined'">{{events.dates.start.localDate}}</span>
                            <span ng-if="!events.dates || !events.dates.start || !events.dates.start.localDate || events.dates.start.localDate.length<=0 || events.dates.start.localDate == 'Undefined'">N/A</span>
                        </td>
                        <td>
                            <a href="" ng-if="events.name && events.name.length>0 && events.name != 'Undefined'" ng-click="showEventDetails(events, events.id, tableMode)">
                                <span ng-if="0 < events.name.length && events.name.length <= 35">{{events.name}}</span>
                                <span ng-if="events.name.length > 35">{{(events.name.substring(0,35)).substring(0,events.name.substring(0,35).lastIndexOf(" ")+1)+"..."}}<md-tooltip class="tooltip" md-direction="bottom">{{events.name}}</md-tooltip></span>
                                </a>
                            <span ng-if="!events.name || events.name.length<=0 || events.name == 'Undefined'">N/A</span>
                        </td>
                        <td>
                            <span ng-if="(events.classifications && events.classifications.length >0) && ((events.classifications[0].genre && events.classifications[0].genre.name && events.classifications[0].genre.name.length != 0 && events.classifications[0].genre.name != 'Undefined') && (events.classifications[0].segment && events.classifications[0].segment.name && events.classifications[0].segment.name.length != 0 && events.classifications[0].segment.name != 'Undefined'))">{{events.classifications[0].genre.name + "-" + events.classifications[0].segment.name}}</span>
                            <span ng-if="(events.classifications && events.classifications.length >0) && ((events.classifications[0].genre && events.classifications[0].genre.name && events.classifications[0].genre.name.length != 0 && events.classifications[0].genre.name != 'Undefined') && (!events.classifications[0].segment || !events.classifications[0].segment.name || events.classifications[0].segment.name.length == 0 || events.classifications[0].segment.name == 'Undefined'))">{{events.classifications[0].genre.name}}</span>
                            <span ng-if="(events.classifications && events.classifications.length >0) && ((!events.classifications[0].genre || !events.classifications[0].genre.name || events.classifications[0].genre.name.length == 0 || events.classifications[0].genre.name == 'Undefined') && (events.classifications[0].segment && events.classifications[0].segment.name && events.classifications[0].segment.name.length != 0 && events.classifications[0].segment.name != 'Undefined'))">{{events.classifications[0].segment.name}}</span>
                            <span ng-if="!events.classifications || events.classifications.length <=0 || ((!events.classifications[0].genre || !events.classifications[0].genre.name || events.classifications[0].genre.name.length == 0 || events.classifications[0].genre.name == 'Undefined') && (!events.classifications[0].segment || !events.classifications[0].segment.name || events.classifications[0].segment.name.length == 0 || events.classifications[0].segment.name == 'Undefined'))">N/A</span>
                        </td>
                        <td>
                            <span ng-if="events._embedded && events._embedded.venues && events._embedded.venues.length > 0 && events._embedded.venues[0].name && events._embedded.venues[0].name.length != 0 && events._embedded.venues[0].name != 'Undefined'">{{events._embedded.venues[0].name}}</span>
                            <span ng-if="!events._embedded || !events._embedded.venues || events._embedded.venues.length <= 0 || !events._embedded.venues[0].name || events._embedded.venues[0].name.length == 0 || events._embedded.venues[0].name == 'Undefined'">N/A</span>
                        </td>
                        <td>
                        <span ng-if="tableMode == 'results'">
                              <button type="button" ng-click="addToFavorites(events)" class="btn btn-light favoritesButton">
                                <span ng-if="isInLocalStorage(events.id) == false"><i class="material-icons" style="vertical-align:middle;">star_border</i></span>
                                <span ng-if="isInLocalStorage(events.id) == true"><i class="material-icons" style="vertical-align:middle; color:#ffdf00">star</i></span>
                              </button>
                        </span>
                            <span ng-if="tableMode == 'favs'">
                            <button type="button" ng-click="removeFromFavorites(events)" class="btn btn-light favoritesButton"><i class="material-icons" style="vertical-align:middle;">delete</i></button>
                        </span>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="enableFailedResults" >
            <div class="alert alert-danger" role="alert">
                Failed to get search results.
            </div>
        </div>

        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="enableNoResults" >
            <div class="alert alert-warning" role="alert">
                No records.
            </div>
        </div>
    </div>
    <!--div class="container" ng-cloak style="margin-top: 14vh" ng-if="enableFailedResults" >
            <div class="alert alert-danger" role="alert">
                Failed to get search results.
            </div>
        </div>

        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="enableNoResults" >
            <div class="alert alert-warning" role="alert">
                No records.
            </div>
        </div-->
    <!--/div-->

    <div id="secondSection" class="container ng-hide" ng-show="prograssBarEvent || enableDetailsSection" >
        <div id="eventDetailsSection" class="ng-hide" ng-cloak ng-show="prograssBarEvent ||enableDetailsSection">
            <div class="container">
                <h5 class="page-header" ng-if="selectedEvent.name" style="text-align: center;margin-top: 5vh"><b>{{selectedEvent.name}}</b></h5>
                <div style="margin-top: 15px; margin-bottom: 15px">
                    <button type="button" ng-click="showEventListTable(tableMode)" class="btn btn-light white_buttons justify-content-center align-content-between" style="border: 1px solid #C8C8C8"><i class="material-icons" style="vertical-align:middle;">navigate_before</i>List</button>
                    <button type="button" ng-click="addToFavoritesInEDPage(selectedEvent)" class="btn btn-light favoritesButton" style="float: right; margin-left: 10px" ng-disabled="checkTwitterFavButton()">
                        <span ng-if="isInLocalStorage(selectedEvent.id) == false"><i class="material-icons" style="vertical-align:middle;">star_border</i></span>
                        <span ng-if="isInLocalStorage(selectedEvent.id) == true"><i class="material-icons" style="vertical-align:middle; color:#ffdf00">star</i></span>
                    </button>
                    <button type="btn btn-light" class="btn btn-light twitterButton" ng-click="postTweet()" style="float: right" ng-disabled="checkTwitterFavButton()"></button>
                </div>

                <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active secondTab" id="event-tab" data-toggle="tab" href="#showEvents" role="tab" aria-controls="" aria-selected="true">Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link secondTab" id="artist-tab" data-toggle="tab" href="#showArtists" role="tab" aria-controls="" aria-selected="false">Artist<span class="textHide">/Teams</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link secondTab" id="venue-tab" data-toggle="tab" href="#showVenue" role="tab" aria-controls="" aria-selected="false">Venue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link secondTab" id="upcoming-tab" data-toggle="tab" href="#showUpcoming" role="tab" aria-controls="" aria-selected="false">Upcoming<span class="textHide"> Events</span></a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent" style="margin-top: 15px">
                    <div class="tab-pane fade show active" id="showEvents" role="tabpanel" aria-labelledby="event-tab">
                        <div class="container" ng-cloak style="margin-top: 7vh;" ng-if="prograssBarEvent">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                            </div>
                        </div>
                        <div class="table-responsive" ng-if="!enableFailedResultsForEvents && !enableNoResultsForEvents && !prograssBarEvent" >
                            <table class="table table-striped nowrapTable">
                                <tbody>
                                <tr ng-if="artists && artists.length > 0">
                                    <th scope="row">Artist/Team(s)</th>
                                    <td>{{artists}}</td>
                                </tr>
                                <tr ng-if="eachEventInfo._embedded && eachEventInfo._embedded.venues && eachEventInfo._embedded.venues.length>0 && eachEventInfo._embedded.venues[0].name && eachEventInfo._embedded.venues[0].name.length>0 && eachEventInfo._embedded.venues[0].name != 'Undefined'">
                                    <th scope="row">Venue</th>
                                    <td>{{eachEventInfo._embedded.venues[0].name}}</td>
                                </tr>
                                <tr ng-if="eachEventInfo.dates && eachEventInfo.dates.start && eachEventInfo.dates.start.localDate && eachEventInfo.dates.start.localDate.length>0 && eachEventInfo.dates.start.localDate != 'Undefined'">
                                    <th scope="row">Time</th>
                                    <td>
                                        <span ng-if="eachEventInfo.dates.start.localTime && eachEventInfo.dates.start.localTime.length>0 && eachEventInfo.dates.start.localTime != 'Undefined'">{{getMomentJSFormat(eachEventInfo.dates.start.localDate) + " " + eachEventInfo.dates.start.localTime}}</span>
                                        <span ng-if="!eachEventInfo.dates.start.localTime || eachEventInfo.dates.start.localTime.length<=0 || eachEventInfo.dates.start.localTime == 'Undefined'">{{getMomentJSFormat(eachEventInfo.dates.start.localDate)}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="(eachEventInfo.classifications && eachEventInfo.classifications.length>0) && ((eachEventInfo.classifications[0].genre && eachEventInfo.classifications[0].genre.name && eachEventInfo.classifications[0].genre.name.length != 0 && eachEventInfo.classifications[0].genre.name != 'Undefined') || (eachEventInfo.classifications[0].segment && eachEventInfo.classifications[0].segment.name && eachEventInfo.classifications[0].segment.name.length != 0 && eachEventInfo.classifications[0].segment.name != 'Undefined'))">
                                    <th scope="row">Category</th>
                                    <td>
                                        <span ng-if="(eachEventInfo.classifications[0].genre && eachEventInfo.classifications[0].genre.name && eachEventInfo.classifications[0].genre.name.length != 0 && eachEventInfo.classifications[0].genre.name != 'Undefined') && (eachEventInfo.classifications[0].segment && eachEventInfo.classifications[0].segment.name && eachEventInfo.classifications[0].segment.name.length != 0 && eachEventInfo.classifications[0].segment.name != 'Undefined')">{{eachEventInfo.classifications[0].segment.name + " | " + eachEventInfo.classifications[0].genre.name}}</span>
                                        <span ng-if="(eachEventInfo.classifications[0].genre && eachEventInfo.classifications[0].genre.name && eachEventInfo.classifications[0].genre.name.length != 0 && eachEventInfo.classifications[0].genre.name != 'Undefined') && (!eachEventInfo.classifications[0].segment || !eachEventInfo.classifications[0].segment.name || eachEventInfo.classifications[0].segment.name.length <= 0 || eachEventInfo.classifications[0].segment.name == 'Undefined')">{{eachEventInfo.classifications[0].genre.name}}</span>
                                        <span ng-if="(!eachEventInfo.classifications[0].genre || !eachEventInfo.classifications[0].genre.name || eachEventInfo.classifications[0].genre.name.length == 0 || eachEventInfo.classifications[0].genre.name == 'Undefined') && (eachEventInfo.classifications[0].segment && eachEventInfo.classifications[0].segment.name && eachEventInfo.classifications[0].segment.name.length != 0 && eachEventInfo.classifications[0].segment.name != 'Undefined')">{{eachEventInfo.classifications[0].segment.name}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="(eachEventInfo.priceRanges && eachEventInfo.priceRanges.length>0) && (eachEventInfo.priceRanges[0].max||eachEventInfo.priceRanges[0].min)">
                                    <th scope="row">Price Range</th>
                                    <td>
                                        <span ng-if="eachEventInfo.priceRanges[0].max && eachEventInfo.priceRanges[0].min">{{"$" + parseFloat(eachEventInfo.priceRanges[0].min).toFixed(2) + " ~ " + "$" + parseFloat(eachEventInfo.priceRanges[0].max).toFixed(2)}}</span>
                                        <span ng-if="!eachEventInfo.priceRanges[0].max && eachEventInfo.priceRanges[0].min">{{"$" + parseFloat(eachEventInfo.priceRanges[0].min).toFixed(2)}}</span>
                                        <span ng-if="eachEventInfo.priceRanges[0].max && !eachEventInfo.priceRanges[0].min">{{"$" + parseFloat(eachEventInfo.priceRanges[0].max).toFixed(2)}}</span>
                                    </td>
                                </tr>
                                <tr ng-if="eachEventInfo.dates && eachEventInfo.dates.status && eachEventInfo.dates.status.code">
                                    <th scope="row">Ticket Status</th>
                                    <td>{{eachEventInfo.dates.status.code.charAt(0).toUpperCase() + eachEventInfo.dates.status.code.slice(1)}}</td>
                                </tr>
                                <tr ng-if="eachEventInfo.url">
                                    <th scope="row">Buy Ticket At</th>
                                    <td><a target='_blank' ng-href='{{eachEventInfo.url}}'>Ticketmaster</a></td>
                                </tr>
                                <tr ng-if="eachEventInfo.seatmap && eachEventInfo.seatmap.staticUrl">
                                    <th scope="row">Seat Map</th>
                                    <td><a data-toggle="modal" data-target="#imageModal" href="">View Seat Map Here</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">View Seat Map</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <a target='_blank' ng-href='{{eachEventInfo.seatmap.staticUrl}}'><img class="img-fluid" ng-src="{{eachEventInfo.seatmap.staticUrl}}"></a>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="enableFailedResultsForEvents && !prograssBarEvent" >
                            <div class="alert alert-danger" role="alert">
                                Failed to get search results.
                            </div>
                        </div>

                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="enableNoResultsForEvents && !prograssBarEvent" >
                            <div class="alert alert-warning" role="alert">
                                No records.
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="showArtists" role="tabpanel" aria-labelledby="artist-tab">
                        <div class="container" ng-cloak style="margin-top: 7vh;" ng-if="prograssBarArtists">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                            </div>
                        </div>
                        <div ng-repeat="eachArtist in artistsInfo" ng-if="!enableNoResultsForArtists && !enableFailedResultsForArtists && !prograssBarArtists">
                            <h5 class="page-header" ng-if="eachArtist.name && (eachArtist.spotifyResults || eachArtist.googleCustom)" style="text-align: center;margin-top: 2vh"><b>{{eachArtist.name}}</b></h5>
                            <div class="table-responsive" ng-if="eachArtist.spotifyResults">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr ng-if="eachArtist.spotifyResults.name && eachArtist.spotifyResults.name !='Undefined' ">
                                        <th scope="row">Name</th>
                                        <td>{{eachArtist.spotifyResults.name}}</td>
                                    </tr>
                                    <tr ng-if="eachArtist.spotifyResults.followers && eachArtist.spotifyResults.followers.total">
                                        <th scope="row">Followers</th>
                                        <td>{{formatFollowers(eachArtist.spotifyResults.followers.total)}}</td>
                                    </tr>
                                    <tr ng-if="eachArtist.spotifyResults.popularity">
                                        <th scope="row">Popularity</th>
                                        <td><div style="width: 40px; height:40px; position: relative">
                                            <div style="position:absolute; font-size:14px; margin-left:12px; margin-top: 9px; text-align: center !important;">{{eachArtist.spotifyResults.popularity}}</div>
                                            <round-progress
                                                max="100"
                                                current="eachArtist.spotifyResults.popularity"
                                                color="green"
                                                bgcolor="#eaeaea" radius="100" stroke="20"
                                                semi="false"
                                                rounded="true"
                                                clockwise="false"
                                                responsive="true"
                                                duration="0"></round-progress></div></td>
                                    </tr>
                                    <tr ng-if="eachArtist.spotifyResults.external_urls && eachArtist.spotifyResults.external_urls.spotify">
                                        <th scope="row">Check At</th>
                                        <td><a target='_blank' ng-href='{{eachArtist.spotifyResults.external_urls.spotify}}'>Spotify</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-columns" ng-if="eachArtist.googleCustom.items">
                                <div class="card text-center" ng-repeat="each in eachArtist.googleCustom.items">
                                    <a target="_blank" ng-if="each.link" ng-href="{{each.link}}">
                                        <img class="img-thumbnail" ng-src="{{each.link}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="(enableFailedResultsForArtists || enableFailedResultsForEvents) && !prograssBarArtists" >
                            <div class="alert alert-danger" role="alert">
                                Failed to get search results.
                            </div>
                        </div>
                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="(enableNoResultsForArtists && !enableFailedResultsForEvents) && !prograssBarArtists" >
                            <div class="alert alert-warning" role="alert">
                                No records.
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="showVenue" role="tabpanel" aria-labelledby="venue-tab">
                        <div class="container" ng-cloak style="margin-top: 7vh;" ng-if="prograssBarVenue">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                            </div>
                        </div>
                        <h5 class="page-header" ng-if="venueInfo.name && !prograssBarVenue" style="text-align: center;margin-top: 3vh"><b>{{venueInfo.name}}</b></h5>
                        <div class="ng-hide" ng-show="!enableFailedResultsForVenue && !enableNoResultsForVenue && !prograssBarVenue">
                            <div class="table-responsive"  >
                                <table class="table table-striped headerNoWrap">
                                    <tbody>
                                    <tr ng-if="venueInfo.address && venueInfo.address.line1 && venueInfo.address.line1 != 'Undefined' ">
                                        <th class="align-middle" scope="row">Address</th>
                                        <td>{{venueInfo.address.line1}}</td>
                                    </tr>
                                    <tr ng-if="(venueInfo.city && venueInfo.city.name && venueInfo.city.name != 'Undefined') ||(venueInfo.state && venueInfo.state.name && venueInfo.state.name != 'Undefined')">
                                        <th class="align-middle" scope="row">City</th>
                                        <td ng-if="(venueInfo.city && venueInfo.city.name && venueInfo.city.name != 'Undefined') &&(venueInfo.state && venueInfo.state.name && venueInfo.state.name != 'Undefined')">{{venueInfo.city.name +", "+venueInfo.state.name}}</td>
                                        <td ng-if="(!venueInfo.city || !venueInfo.city.name || venueInfo.city.name == 'Undefined') &&(venueInfo.state && venueInfo.state.name && venueInfo.state.name != 'Undefined')">{{venueInfo.state.name}}</td>
                                        <td ng-if="(venueInfo.city && venueInfo.city.name && venueInfo.city.name != 'Undefined') &&(!venueInfo.state || !venueInfo.state.name || venueInfo.state.name == 'Undefined')">{{venueInfo.city.name}}</td>
                                    </tr>
                                    <tr ng-if="venueInfo.boxOfficeInfo && venueInfo.boxOfficeInfo.phoneNumberDetail">
                                        <th class="align-middle" scope="row">Phone Number</th>
                                        <td>{{venueInfo.boxOfficeInfo.phoneNumberDetail}}</td>
                                    </tr>
                                    <tr ng-if="venueInfo.boxOfficeInfo && venueInfo.boxOfficeInfo.openHoursDetail">
                                        <th class="align-middle" scope="row">Open Hours</th>
                                        <td>{{venueInfo.boxOfficeInfo.openHoursDetail}}</td>
                                    </tr>
                                    <tr ng-if="venueInfo.generalInfo && venueInfo.generalInfo.generalRule">
                                        <th class="align-middle" scope="row">General Rule</th>
                                        <td>{{venueInfo.generalInfo.generalRule}}</td>
                                    </tr>
                                    <tr ng-if="venueInfo.generalInfo && venueInfo.generalInfo.childRule">
                                        <th class="align-middle" scope="row">Child Rule</th>
                                        <td>{{venueInfo.generalInfo.childRule}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="mapHolder" style="height: 500px"></div>
                        </div>

                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="(enableFailedResultsForVenue || enableFailedResultsForEvents) && !prograssBarVenue" >
                            <div class="alert alert-danger" role="alert">
                                Failed to get search results.
                            </div>
                        </div>
                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="(enableNoResultsForVenue && !enableFailedResultsForEvents) && !prograssBarVenue" >
                            <div class="alert alert-warning" role="alert">
                                No records.
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="showUpcoming" role="tabpanel" aria-labelledby="upcoming-tab">
                        <div class="container" ng-cloak style="margin-top: 7vh;" ng-if="prograssBarUpcoming">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
                            </div>
                        </div>
                        <div style="margin-top: 3vh" ng-if="!enableFailedResultsForUpcoming && !enableNoResultsForUpcoming && !prograssBarUpcoming">
                            <div style="margin-bottom: 15px">
                            <select ng-change="upcomingViewOptionChanged(lasttab)" class="custom-select col-sm-3" ng-model="lasttab.upcomingOptions">
                                <option value="default">Default</option>
                                <option value="eventName">Event Name</option>
                                <option value="time">Time</option>
                                <option value="artist">Artist</option>
                                <option value="type">Type</option>
                            </select>
                            <select ng-change="upcomingViewOptionChanged(lasttab)" class="custom-select col-sm-3" ng-model="lasttab.sortOrder" ng-disabled="lasttab.upcomingOptions == 'default'">
                                <option value="ascend">Ascending</option>
                                <option value="descend">Descending</option>
                            </select>
                            </div>
                            <div ng-if="upcomingInfo.length > 0" ng-repeat="eachUp in upcomingInfo | limitTo: 5" style="margin-bottom: 10px">
                                <div class="card">
                                    <div class="card-body">
                                        <span ng-if="eachUp.displayName" class="text-primary"><a target='_blank' ng-href='{{eachUp.uri}}'>{{eachUp.displayName}}</a></span><br>
                                        <span ng-if="eachUp.performance[0] && eachUp.performance[0].artist && eachUp.performance[0].artist.displayName" style="color: #cc7000">{{'Artist: ' + eachUp.performance[0].artist.displayName+ ' '}}</span>
                                        <span ng-if="eachUp.start && eachUp.start.date && eachUp.start.time" class="text-secondary">{{getMomentJSFormat(eachUp.start.date)+ " "+ eachUp.start.time}}</span>
                                        <span ng-if="eachUp.start && eachUp.start.date && !eachUp.start.time" class="text-secondary">{{getMomentJSFormat(eachUp.start.date)}}</span>
                                        <span ng-if="eachUp.start && !eachUp.start.date && eachUp.start.time" class="text-secondary">{{eachUp.start.time}}</span><br>
                                        <span ng-if="eachUp.type" class="text-dark">{{'Type: ' + eachUp.type}}</span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="upcomingInfo.length > 5" ng-repeat="eachUp in upcomingInfo | limitTo: upcomingInfo.length : 5 " style="margin-bottom: 10px">
                                <div  class="card hiddenEvents" ng-if="show_cards">
                                    <div class="card-body">
                                        <span ng-if="eachUp.displayName" class="text-primary"><a target='_blank' ng-href='{{eachUp.uri}}'>{{eachUp.displayName}}</a></span><br>
                                        <span ng-if="eachUp.performance[0] && eachUp.performance[0].artist && eachUp.performance[0].artist.displayName" style="color: #cc7000">{{'Artist: ' + eachUp.performance[0].artist.displayName+ ' '}}</span>
                                        <span ng-if="eachUp.start && eachUp.start.date && eachUp.start.time" class="text-secondary">{{getMomentJSFormat(eachUp.start.date)+ " "+ eachUp.start.time}}</span>
                                        <span ng-if="eachUp.start && eachUp.start.date && !eachUp.start.time" class="text-secondary">{{getMomentJSFormat(eachUp.start.date)}}</span>
                                        <span ng-if="eachUp.start && !eachUp.start.date && eachUp.start.time" class="text-secondary">{{eachUp.start.time}}</span><br>
                                        <span ng-if="eachUp.type" class="text-dark">{{'Type: ' + eachUp.type}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center"><button type="button" ng-if="upcomingInfo.length > 5" class="btn btn-primary" ng-click="toggleShowCards()">{{buttonText}}</button></div>

                        </div>
                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="(enableFailedResultsForUpcoming || enableFailedResultsForEvents) && !prograssBarUpcoming" >
                            <div class="alert alert-danger" role="alert">
                                Failed to get search results.
                            </div>
                        </div>
                        <div class="container" ng-cloak style="margin-top: 14vh" ng-if="(enableNoResultsForUpcoming && !enableFailedResultsForEvents) && !prograssBarUpcoming" >
                            <div class="alert alert-warning" role="alert">
                                No records.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" style="height:75px; width: auto">

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.js"></script>
<script type="text/javascript" src="app.js"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSvNSOBQhqi-J0jNCHQeYT60p9ES4OLig"></script>
</body>
</html>
