@CHARSET "UTF-8";

html {
	width: 1440px;
	height: 100%;
	overflow: hidden;
	margin: auto;
	padding: auto;
}

body {
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	perspective: 1px;
	margin: auto;
	padding: auto;
}

.menu_grid {
	margin-top: 45px;
	margin-bottom: 55px;
	margin-right: 100px;
	margin-left: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

.link_space {
	padding-left: 20px;
}

#menu_links {
	float: right;
}

#menu_title {
	font-size: 18px;
}

a.links:link {
	text-decoration: none;
	color: #C0C0C0;
	font-size: 15px;
}

a.links:visited {
	text-decoration: none;
	color: #C0C0C0;
	font-size: 15px;
}

a.links:hover {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.signup {
	background-image: url("images/lawyer.jpg");
	filter: brightness(80%);
	min-height: 853px;
	background-position: 40% 80%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 100%;
}

.signup_box {
	position: absolute;
	margin-left: 86px;
	top: 290px;
	max-width: 412px;
	padding: 16px;
	background-color: #00395F;
	width: auto;
	height: 480px;
}

.signuptext {
	margin-left: 30px;
	margin-top: 45px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

#firstLine {
	font-size: 15px;
}

#secondLine {
	font-size: 42px;
}

#thirdLine {
	line-height: 3;
	font-size: 15px;
	color: yellow;
	font-style: italic;
}

#textbox {
	margin-top: 10px;
	font-size: 16px;
	width: 338px;
	height: 46px;
	padding: 0 10px;
	border: 0;
}

input::placeholder {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}

.buttonstyle {
	margin-top: 15px;
	margin-bottom: 45px;
	background-color: yellow;
	height: 50px;
	width: 180px;
	font-size: 14px;
	border: none;
	font-family: Optima, sans-serif;
	color: black;
}

.buttonstyle:hover {
	margin-top: 15px;
	margin-bottom: 45px;
	background-color: #1D2331;
	height: 50px;
	width: 180px;
	font-size: 14px;
	border: none;
	font-family: Optima, sans-serif;
	color: white;
}

.table {
	z-index: 10;
	background-color: white;
}

.features {
	margin-left: 70px;
	font-family: Arial, Helvetica, sans-serif;
	width: calc(100% - 70px);
	border-spacing: 20px 0px;
	z-index: 10;
}

.description {
	color: #808080;
	font-size: 14px;
	line-height: 1.5;
}

.appPraise {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F5F5F5;
	text-align: center;
	padding: 170px 0;
}

#quotes {
	position: absolute;
	text-align: center;
	margin-left: 86px;
}

#try_for_free_container {
	position: relative;
}

#notebook {
	background-image: url("images/notebook.jpg");
	filter: brightness(80%);
	min-height: 550px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 10;
	filter: grayscale(100%) brightness(25%) sepia(100%) hue-rotate(-210deg)
		saturate(700%) contrast(0.6);
}

#trybox {
	position: absolute;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	top: 200px;
	text-align: center;
	vertical-align: middle;
	margin-left: 490px;
	display: table;
	z-index: 10;
}

#telldesc {
	font-size: 26px;
}

#tellmore {
	font-size: 14px;
}

.endingpart {
	font-family: Optima, sans-serif;
	background: #1D2331;
	color: white;
	text-align: center;
	height: 350px;
	position: relative;
}

.icons {
	position: absolute;
	text-align: center;
	margin-left: 548px;
	z-index: 10;
}

.iconspace {
	padding-left: 35px;
}

.parallax_handler {
	position: relative;
	min-height: 930px;
	transform-style: inherit;
	z-index: -10;
	background-position: 20% top;
	background-size: cover;
}

.parallax_handler:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-position: 20% top;
	background-size: cover;
}

#glasses_img:before {
	background-image: url("images/glasses.png");
	transform: translate3d(0, 250px, -1px) scale(3);
	opacity: 0.3;
	filter: brightness(75%) grayscale(100%);
	background-repeat: no-repeat;
}

.ratebox {
	background-image: url("images/grid.png");
	background-repeat: no-repeat;
	min-height: 550px;
	min-width: 400px;
	background-size: 40% 80%;
}

.features_prices {
	font-family: Arial, Helvetica, sans-serif;
	border-spacing: 70px 0;
	z-index: 10;
}

.plans {
	position: relative;
	background-color: white;
}

.plan_desc {
	position: absolute;
	margin-left: 88px
}

img {
	opacity: 0.1;
}

.buynowbutton {
	position: absolute;
	margin-top: 15px;
	margin-bottom: 45px;
	background-color: #00395F;
	height: 60px;
	width: 160px;
	font-size: 14px;
	border: none;
	font-family: Optima, sans-serif;
	color: white;
	z-index: 10;
}

button.buynowbutton:hover {
	margin-top: 15px;
	margin-bottom: 45px;
	background: #1D2331;
	height: 60px;
	width: 160px;
	font-size: 14px;
	border: none;
	font-family: Optima, sans-serif;
	color: white;
	z-index: 10;
}